.images{
    width: 35px;
}

.foto{
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    margin-bottom: 3px;
}

/* 
.texto{
    color: white;
} */

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: rgb(177, 173, 173);
}

.conteudo{
    border-radius: 10px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(66, 66, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
