.imagem_tomeluan{
    border-radius: 50%;
    margin-top: 15px;
}

.title{
    color: #FFF;
    margin: 10px 0 10px 0;
}

.subtitle{
    color: #FFF;
    margin-bottom: 15px;
}

.apresentacao{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    width: 90%;
    margin-bottom: 5px;
}

.boneco_programador{
    margin: 2px 0 5px 0;
}

@media screen and (min-width: 700px){
    .apresentacao{
        width: 45%;
    }
}